.card {
  width: 18rem;
}

.card a {
  color: #c7254e;
}

.actions {
  text-align: center;
}

.actions .spinner-border {
  position: relative;
  top: 8px;
  right: 8px;
}

form label {
  font-weight: bold;
}

form span.invalid {
  font-size: 12px;
  color: #c7254e;
  margin: 5px;
}

.pager a {
  color: #c7254e;
}

.btn-primary {
  color           : #fff;
  background-color: #c7254e;
  border-color    : #c7254e
}

.btn-primary:hover {
  color           : #fff;
  background-color: #c7254e;
  border-color    : #c7254e
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 .2rem rgba(199, 37, 78, 0.5)
}

.btn-primary.disabled,
.btn-primary:disabled {
  color           : #fff;
  background-color: #c7254e;
  border-color    : #c7254e
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color           : #fff;
  background-color: #c7254e;
  border-color    : #c7254e
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(199, 37, 78, 0.5)
}